* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 15%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  max-width: 768px;
}

h1 {
  color: hsl(0, 0%, 85%);
  font-size: 4rem;
  line-height: .9;
}

p {
  color: hsl(0, 0%, 85%);
  font-size: 1.5rem;
  letter-spacing: .11rem;
}

small {
  color: hsl(0, 0%, 85%);
  font-size: 1rem;
  letter-spacing: .22rem;
}

.display {
  background: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 85%);
  width: 100%;
  padding: 1rem;
  margin: 2.5rem 0;
  font-size: 2.5rem;
  border-radius: .5rem;
  box-shadow: inset -1px -1px 2px hsl(0, 0%, 25%),
  inset 1px 1px 2px hsl(0, 0%, 5%);
  text-align: center;
}

.display.correct {
  color: hsl(129, 69%, 50%);
  text-shadow: 0 0 3px hsl(129, 69%, 60%);
}